In [321]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix
from sklearn.grid_search import GridSearchCV

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\hp\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [322]:
Survival = pd.read_csv('Titanic train_data.csv')
Survival_testing = pd.read_csv('Titanic test_data.csv')

In [323]:
Survival1 = Survival.drop(['Name','PassengerId','Ticket','Cabin','Embarked'], axis = 1)
Survival1.replace('female',0,inplace = True)
Survival1.replace('male',1, inplace = True)
Survival2 = Survival1.fillna(Survival1.mean())
Survival2.head(10)

   Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0         0       3    1  22.000000      1      0   7.2500
1         1       1    0  38.000000      1      0  71.2833
2         1       3    0  26.000000      0      0   7.9250
3         1       1    0  35.000000      1      0  53.1000
4         0       3    1  35.000000      0      0   8.0500
5         0       3    1  29.699118      0      0   8.4583
6         0       1    1  54.000000      0      0  51.8625
7         0       3    1   2.000000      3      1  21.0750
8         1       3    0  27.000000      0      2  11.1333
9         1       2    0  14.000000      1      0  30.0708

In [324]:
X = Survival2[['Age','Pclass','Sex','Parch','SibSp','Fare']]
y = Survival2['Survived']

In [325]:
Survival_testing.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [326]:
Survival_test = Survival_testing.drop(['Name','PassengerId','Ticket','Cabin','Embarked'], axis = 1)
Survival_test.replace('female',0,inplace = True)
Survival_test.replace('male',0,inplace = True)
A = Survival_test.dropna()

In [340]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state = 0)
survival = XGBClassifier(n_estimators =30, gamma =0.5,learning_rate= 0.5)
survival.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0.5, learning_rate=0.5, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=30,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [341]:
pred = survival.predict(X_test)
Train_accuracy = survival.score(X_train,y_train)
print(Train_accuracy)
Test_accuracy = survival.score(X_test,y_test)
print(Test_accuracy)

0.889221556886
0.856502242152

In [342]:
cnf = confusion_matrix(y_test, pred)
cnf

array([[128,  11],
       [ 21,  63]], dtype=int64)

In [343]:
n_estimator =np.array([10,20,30,40,50,60,70,80,90])
g = np.array([0.1,0.2,0.3,0.4,0.5])
model = XGBClassifier(learning_rate= 0.5)
grid = GridSearchCV(estimator=model, param_grid=dict(gamma=g, n_estimators = n_estimator))
grid.fit(X_train,y_train)
print(grid)
print(grid.best_score_)
print(grid.best_estimator_.gamma)
print(grid.best_estimator_.n_estimators)

GridSearchCV(cv=None, error_score='raise',
       estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.5, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'gamma': array([ 0.1,  0.2,  0.3,  0.4,  0.5]), 'n_estimators': array([10, 20, 30, 40, 50, 60, 70, 80, 90])},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)
0.8158682634730539
0.3
40